header {
    position: relative;
    width: inherit;
}
.header .logo {
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 50%;
    flex-shrink: 0;
    margin-right: 10px;
    user-select: none;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}
header span {
    font-size: 22px;
    position: absolute;
    left: 60px;
}
.project {
    border: 2rem solid #fff;
    background-color: #000;
}
