header {
    position: relative;
}
header span {
    font-size: 22px;
    position: absolute;
    left: 60px;
}
h2 .dropdown {
    color: #666666;
    font-size: 14px;
    flex-shrink: 0;
    margin-right: 10px;
}
.menuh2 {
    height:16px;
}
.collapsed {
    height: 40px;
    overflow: hidden;
}
