body {
	background-image: url("../img/IDR_THEME_NTP_BACKGROUND.png");
	flex: 1 3;
}


header ul {
	margin-top: 3em;
	/*width: 200px;*/
	
	float: left;
}


ul li {
	list-style-type: none;
	padding: 1.25em auto;
	/*border-right: 2px dashed #DC143C;*/ /*分割左右边的特效*/
}
ul li:hover,
ul li:active{
	background-color: rgba(255, 255, 255, 0.1); /*鼠标经过时，整个li区域背景变色*/
	margin-top: -0.125em;
	/*border-right-color: rgba(0,0,0,0);*/ /*分割左右边的特效*/
}
header a {
	display: block; 
	margin: 0.625em 0.625em;
	height: 1.875em;
	text-align: left;
	text-decoration: none;
	color: #666; /*链接字体颜色*/
	padding: 0.625em 0;
	
}
header a:hover,
header a:active {
	color: red; /*鼠标经过链接变红色*/
	
}

span a {
	text-decoration: none;
	color: #999;
}

span a:hover {
	color: red; /*鼠标经过链接变红色*/
}

.rcontent {
	margin-top: 3em;
	float: left;
	border-left: 0.125em dashed #DC143C;/*分割左右边的特效*/
}

table{
	margin-left: 1.25em;
	width: 100%;
}
table, th, td{
  border: 0.0625em solid #666;
 }

/*.rcontent table tr*/ td a {
	display: block; 
	margin: 0.625em 0.625em;
	height: 1.875em;
	text-align: left;
	text-decoration: none;
	color: #ccc; /*链接字体颜色*/
	padding: 0.625em 0;
}

/*.rcontent table tr*/ td a:hover {
	color: red; /*鼠标经过链接变红色*/
	margin: 0.5em 0.625em; /*鼠标经过上移特效*/
}
table tr th,
table tr td {
	padding:0.125em;
	height: 1.875em;
	text-align: center;
	text-decoration: none;
	color: #ccc; /*链接字体颜色*/
}



fieldset {
	border-color: grey;
	border-style: double;
	border-radius: 0.625em;
	margin-left: 1.25em;
	margin-top: 1.875em;
}
.conInfo {
	width: 25em;
}
.adv {
	width: auto;

}
fieldset legend {
	color: #888;
	font-size: 1.25em;
	font-family: KaiTi, Arial, sans-serif;
}
fieldset span {
	display: block;
}

.connLink { /*作者联系方式样式*/
	color: #999;
	font-size: 1.25em;
	font-family: KaiTi, Arial, sans-serif;
}

.connLink:hover {
	color: red;
}

.suisuinian,
.superise {
	color: #666;
	font-size: 1em;
	font-family: KaiTi, Arial, sans-serif;
}

.superise:hover {
	color: gold;
	font-size: 3.75em;
	font-family: KaiTi, Arial, sans-serif;
}

/*安全*/
body header .li4safe:hover{
	background-color: transparent; 
	margin-top: -0.125em;
}

body header .safe{
	display: block; 
	margin: 0.625em 0.625em;
	height: 1.875em;
	text-align: left;
	text-decoration: none;
	color: rgba(0,0, 0, 0); /*链接字体颜色*/
	padding: 0.625em 0;
	/*禁止文字被选中*/
	-moz-user-select:none;/*火狐*/
	-webkit-user-select:none;/*webkit浏览器*/
	-ms-user-select:none;/*IE10*/
	-khtml-user-select:none;/*早期浏览器*/、
	user-select: none;
	/*光标样式不变*/
	cursor: default;
}